.input-search{
    background-color: #cecece;
    color: #656565;
    height: 30px;
    display: flex;
    width: 100%;
    border-radius: 5px;
    position: relative;
}
.input-modal{
    position: absolute;
    display: none;
    overflow: hidden;
    top: 0;
    left:0;
    min-width: 500px;
    min-height: 400px;
    max-width: 100%;
    max-height: 100%;
    background: #fff;
    z-index: 88888888;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
     -khtml-user-select: none;
       -moz-user-select: none; 
        -ms-user-select: none; 
            user-select: none; 
}
.input-modal .abort{
    position: absolute;
    bottom: 20px;
    left:20px;
    text-transform: uppercase;
    font-family: 'Montserrat-SemiBold', sans-serif;
    cursor: pointer;
}
.input-modal .success{
    position: absolute;
    bottom: 20px;
    right:20px;
    text-transform: uppercase;
    color: #e49e26;
    font-family: 'Montserrat-SemiBold', sans-serif;
    cursor: pointer;
}
.input-select input{
    width: 100%;
    padding: 20px;
    border: 0;
    border-bottom: 1px solid #ccc;
    outline: none;
    font-size: 18px;
}