.input-search{
    background-color: #fff;
    color: #656565;
    height: 50px;
    padding-left: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: bold;
    width: 100%;
    border-radius: 5px;
    position: relative;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
}
.input-search::after{
    position: absolute;
    content: "";
    top: calc(50% - 5px);
    transform: translate(0,-50%);
    right: 20px;
    color: #fff;
    border: solid #ccc;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.input-modal{
    position: absolute;
    display: none;
    overflow: hidden;
    width: inherit;
    min-width: 300px;
    top: 50px;
    left: 0;
    background: #fff;
    z-index: 88888888;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
     -khtml-user-select: none;
       -moz-user-select: none; 
        -ms-user-select: none; 
            user-select: none; 
}
.input-modal.active{
display: block!important;
}
.input-modal .abort{
    position: absolute;
    bottom: 20px;
    left:20px;
    text-transform: uppercase;
    font-family: 'Montserrat-SemiBold', sans-serif;
    cursor: pointer;
}
.input-modal .success{
    position: absolute;
    bottom: 20px;
    right:20px;
    text-transform: uppercase;
    color: #e49e26;
    font-family: 'Montserrat-SemiBold', sans-serif;
    cursor: pointer;
}
.input-select input{
    width: 100%;
    padding: 20px;
    border: 0;
    border-bottom: 1px solid #ccc;
    outline: none;
    font-size: 18px;
}

.input-modal ul {
    height: 100%;
    background: #fff;
    overflow-y: scroll;
    min-height: 60px;
    width:inherit - 4px;
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0 0px 60px 4px;
    max-height: 225px;
}
.input-modal ul li{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    background: #fff;
    padding: 0px 10px 0px 10px;
    font-size: 12px;
    border-bottom: 1px solid #fff;
    line-height: 40px;
    transition: ease all .3s;
    position: relative;
}

.input-modal ul[multiple] li{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    background: #fff;
    padding: 0px 10px 0px 10px;
    font-size: 12px;
    border-bottom: 1px solid #fff;
    line-height: 40px;
    transition: ease all .3s;
    position: relative;
    padding-left: 40px;
}

.input-modal ul li[selected]{
    font-weight: bold;
}
.input-modal ul span{
    height: 100%;
    width: 100%;
    list-style: none;
    margin: 0;
    background: #fff;
    padding: 0px 10px 0px 10px;
    border-bottom: 1px solid #fff;
    font-size: 18px;
    line-height: 40px;
}
.input-modal ul li:hover{
}

.input-modal ul::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 4px;
  }
  .input-modal ul::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .3);
  }
  .input-modal ul li span{
    position: absolute;
    height: 20px;
    width: 20px;
    top: 50%;
    left: 10px;
    transform: translate(0, -50%);
    background: #fff;
    border:2px solid #ccc;
    border-radius: 50%;
    padding: 0;
  }

  .input-modal ul li span.selected{
      background: #ccc;
      -webkit-box-shadow:inset 0px 0px 0px 2px #fff;
      -moz-box-shadow:inset 0px 0px 0px 2px #fff;
      box-shadow:inset 0px 0px 0px 2px #fff;
  }
